<html>
    <head>
        <title>대한민국 여행</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="style.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    </head>
    <body>
        <header class="navbar navbar-static-top header-nav" id="top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">
                        Song's Blog
                    </a>
                </div>
                <nav calss="collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="../travel.html">여행기</a>
                        </li>
                        <li>
                            <a href="../SeoulWeather.html">Seoul 날씨</a>
                        </li>
                        <li>
                            <!--<a href="../AnyQuestion">무엇이든 물어보세요</a>-->
                            <a href="../question.html">무엇이든 물어보세요</a>
                        </li>
                        <li>
                            <a href="../visitors.html">방명록</a>
                        </li>
                    </ul>
                    <div class="nav navbar-nav navbar-right js-clock ">
                        <h4>00:00</h4>
                    </div>
                </nav>
            </div>
        </header>
        <nav id = "travelTopMenu">
            <ul>
                <li><a class = "menuLink" href="../travel.html">대한민국</a></li>
                <li><a class = "menuLink" href="../Taiwan.html">대만</a></li>
                <li><a class = "menuLink" href="../Hongkong.html">홍콩</a></li>
                <li><a class = "menuLink" href="../Japan.html">일본</a></li>
                <li><a class = "menuLink" href="../Thailand.html">태국</a></li>
                <li><a class = "menuLink" href="../Canada.html">캐나다</a></li>
                <li><a class = "menuLink" href="../Singapore.html">싱가포르</a></li>
                <li><a class = "menuLink" href="#">기타</a></li>
            </ul>
        </nav>
        <h2 class="travelList">대한민국 여행지 목록</h2>
        <aside id = "travelLeftMenu">
            <ul>
                <li><a class="menuLink" href="../Yeosu.html">여수</a></li>
                <li><a class="menuLink" href="../Seoul.html">서울</a></li>
                <li><a class="menuLink" href="../Jeju.html">제주</a></li>
            </ul>
        </aside>
        <section style="top:30%; left:50%; position:absolute; margin-left:-15%; margin-top:-3%">
            <table>
                <tbody>
                    <tr>
                        <!-- 400*500 -->
                        <td><img width=400 height=500 src="images/koreanpeninsula.jpg"></td>
                        <td valign="top">
                            <p style="text-align: center;">여행 일정</p>
                            <p style="text-align:center;">여수</p>
                            <p class="travelText"> 2020.7.14 ~ 2020.7.16</p>
                            <p style="text-align:center;">서울</p>
                            <p class="travelText"> 2020.7.14 ~ 2020.7.16</p>
                            <p style="text-align:center;">제주</p>
                            <p class="travelText"> 2020.7.14 ~ 2020.7.16</p>
                            
                        </td>
                    </tr>
                </tbody>
            </table> 
        </section>
        <script src="clock.js"></script>
    </body>
</html>