.js-clock{
    /*Zborder:1px solid;*/
    border-color:white;
    float:right;
    color:#333333;
}
.header-nav{
    margin-bottom:0;
    background-color:#fff;
    border-bottom:0;
}
h4{
    font-size:2em;
}
.header-main{
    float:left;
}
.header-center{
    /*position:absolute;*/
    left:25%;
}
body{
    /*background-color:#373838;*/
    background-color:#eeeeee;
}
.language-setting{
    margin-top:8px;
}

.slider{
    width:50%;
    position: relative;
}

.slider__item{
    /*width:50%;*/
    /*height:200px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position:absolute;

    z-index:0;
    opacity: 0;
    transition:opacity 0.5s ease-in-out;
    transform: scale(0.9);
}
.imageH1{
    text-align:center;
}

.slider_item:nth-child(odd){
    background-color: #8e44ad;
}
.slider_item:nth-child(even){
    background-color:#3498db;
}
.song-intro{
    margin-top:50px;
    margin-left:30px;
    padding:20px 20px 20px 20px;
    width:60%;
    height:70%;
    line-height:1.7em;
    float:left;
    background-color:#272727;

}
.song-intro-intro{
    text-indent:1em;
    border-left:5px;
}
h2{
    margin-top : 10px;
    margin-left : 10px;
    color:#EDEDED;
}

p{
    font-size:115%;
    color:white;
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.song-intro-img{
    float:right;
    text-align:center;
    margin:60px 10px 10px 10px;
    padding-bottom:100px;
    letter-spacing: 0.1em;
}

.imageCase{
    width:30%;
    height:450px;
    margin-right:30px;
    float:right;
}

.showing{
    z-index: 1;
    opacity: 1;
    transform: none;
}

#travelTopMenu{
    height :30px;
    width:1400px;
}

#travelTopMenu ul li{
    list-style:none; /* 점 삭제 */
    color:white;
    background-color:#2d2d2d;
    float:left;
    line-height:30px;
    vertical-align: middle; /*세로 가운데정렬*/
    text-align:center;
}

#travelTopMenu .menuLink{
    text-decoration: none; /*a태그 강조 삭제*/
    color:white;
    display:block;
    width:150px;
    font-size:12px;
    font-weight:bold;
    font-family:"MS PGothic", Dotum, Arial;
}
/* 마우스 올라왔을때*/
#travelTopMenu .menuLink:hover{ 
    color:red;
    background-color:#4d4d4d;
}

#travelLeftMenu{
    width:1200px;
    float:center;
}

#travelLeftMenu ul li{
    list-style:none; /* 점 삭제 */
    color:white;
    background-color:#56B156;
    float:left;
    line-height:30px;
    vertical-align: middle; /*세로 가운데정렬*/
    text-align:center;
}

#travelLeftMenu .menuLink{
    text-decoration: none; /*a태그 강조 삭제*/
    color:white;
    display:block;
    width:150px;
    font-size:12px;
    font-weight:bold;
    font-family:"MS PGothic", Dotum, Arial;
}
/* 마우스 올라왔을때*/
#travelLeftMenu .menuLink:hover{ 
    color:black;
    background-color:#D1E9C7;
}

.travelSection{
    padding-left : 30px;
    padding-top : 30px;
}

.travelList{
    font-family: "맑은고딕";
    color: skyblue;
    padding-left:30px;
}

.travelInfo{
    font-family: "맑은고딕";
    color: black;
    text-align:center;
    vertical-align:center;
}